<!DOCTYPE html>
<html ng-app='bookman'>

<head>
  <meta charset="utf-8" />
  <title>Bookman - the bookmark manager</title>
  <link rel='shortcut icon' href='assets/favicon.ico' type='image/x-icon' />
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/style.css" />
</head>

<body>
  <div class='container'>
    <h1 class='logo' ng-hide="location != '/signup' && location != '/signin'"> Bookman!</h1>
    <nav ng-show="location != '/signup' && location != '/signin'">
      <div class='nav-wrapper' >
        <ul class='left'>
          <li class='projectName'>Bookman!</li>
        </ul>
        <ul class='center'>
        </ul>
        <ul class="right">
          <li>
            <div>
              <div class="input-field" ng-show="location != '/signup' && location != '/signin'">
                <input class='red darken-3' id="search" type="search" ng-model="search.title" placeholder="Search..." />
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </div>
          </li>
          <li><a href='#/signout' class='logout'><i class="material-icons left">power_settings_new</i>Logout</a></li>
        </ul>
      </div>
    </nav>
    <ul class='left lists' ng-controller='ListsCtrl' ng-show="location != '/signup' && location != '/signin'">
      <li><a href='#/bookmarks'class="waves-effect waves-light btn" ng-model='bookmarks' ng-class="{amber: activeTab === 'bookmarks'}" ng-click='changeTab("bookmarks")'><i class="material-icons left">star</i>Favorites</a></li>
      <li><a href='#/readingList'class="waves-effect waves-light btn" ng-class="{amber: activeTab === 'readingList'}" ng-click='changeTab("readingList")'><i class="material-icons left">class</i>Reading List</a></li>
      <li><a href='#/allLinks'class="waves-effect waves-light btn" ng-class="{amber: activeTab === 'allLinks'}" ng-click='changeTab("allLinks")'>All Links</a></li>
      <li class='list' ng-repeat="list in data.lists" style='margin-right: 4px'>
        <a href='#/' class="waves-effect waves-light btn" ng-click='changeTab(list.name)' ng-class="{amber: list.name === activeTab}">{{list.name}}</a>
      </li>
      <a class="btn-floating btn waves-effect waves-light cyan darken-2"><i class="material-icons" ng-click='toggleInput()'>add</i></a>
      <li ng-show='showInput' class='newList'><input placeholder="New bookmark list" type="text" class="validate" maxlength="15" ng-model='listName'></li>
      <a class="btn-floating btn waves-effect waves-light cyan darken-2" ng-show='showInput'><i class="material-icons" ng-click='addList()'>done</i></a>
    </ul>

    <div ng-view></div>
  </div>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>

  <script src="app/auth/auth.js"></script>
  <script src="app/links/links.js"></script>
  <script src="app/lists/lists.js"></script>
  <script src='app/services/services.js'></script>
  <script src="app/app.js"></script>
</body>

</html>
